[user]
	email = kurosawa7620@gmail.com
	name = d-kuro
	signingkey = F0661D9B72DE3C5F
[credential]
	helper = osxkeychain
[gpg]
	program = gpg
[commit]
	gpgsign = true
[ghq]
	root = ~/ghq
[includeIf "gitdir:~/ghq/github.com/zlabjp/"]
	path = ~/.gitconfig-zlab
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
