.config/*
!.config/aquaproj-aqua
!.config/sheldon
!.config/wezterm
!.config/starship.toml
!.config/nvim
!.config/ghostty
!.config/mise
!.config/tmux

# Claude settings
.claude/*
!.claude/settings.json
!.claude/commands/
!.claude/scripts/

