[user]
        email = kurosawa7620@gmail.com
        name = d-kuro
[user]
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPEf5FwWMwRY+k/uUrA446rfYCuJv4TBteWYeBjDzILa
[gpg]
        format = ssh
[gpg "ssh"]
        program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
        gpgsign = true
# refs: https://blog.gitbutler.com/how-git-core-devs-configure-git/
[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true
# Diff
# https://github.com/dandavison/delta
[core]
        pager = delta
[interactive]
        diffFilter = delta --color-only
[delta]
        navigate = true  # use n and N to move between diff sections
        dark = true      # or light = true, or omit for auto-detection
        side-by-side = true
        line-numbers = true
        diff-so-fancy = true
        keep-plus-minus-markers = true
        hunk-header-style = "omit"
[merge]
        conflictstyle = zdiff3

# Additional configuration
[ghq]
        root = ~/ghq
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
# Need comment out when using `sheldon lock --update`
[url "git@github.com:"]
        insteadOf = https://github.com/

[includeIf "gitdir:~/ghq/aws/"]
        path = ~/.gitconfig-aws
