.config/*
!.config/aquaproj-aqua
!.config/sheldon
!.config/wezterm
!.config/starship.toml
!.config/nvim
!.config/ghostty
!.config/mise
!.config/tmux
_docs/
_scripts/

# Claude settings
.claude/*
!.claude/settings.json
!.claude/commands/
!.claude/scripts/

# Codex
.codex/*
!.codex/config.toml
!.codex/scripts/
!.codex/AGENTS.md
